*{
  width: 100%;
}


body{
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  width: 100%;
  /* height: 100vh; */
  justify-content: center;
  width:100%
}

.body-container{
  width: 100%;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  gap:15px;
  background-color: #2b507e;
}

.current{
  /* border: 2px solid red; */
  width: 40%;
background-color: #75a0d4;
padding: 15px;
margin:15px;
/* border-right: 2px solid #a70808; */
box-sizing: border-box;
display: flex;
flex-direction: column;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.forecast{
  background-color: #2b507e;
  padding: 20px;
  width: 55%;
  height: min-content;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

@media only screen and (max-width: 767px) {
body{
  width: 100%;
}

  .body-container{
    width: 100%;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .current{
    /* border: 2px solid red; */
    width: 90%;
  background-color: #75a0d4;
  padding: 15px;
  margin:15px;
  /* border-right: 2px solid #a70808; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    
  }
  
  .forecast{
    background-color: #2b507e;
    padding: 20px;
    width: 90%;
    height: min-content;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
}